@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&family=Poppins:wght@400;900&family=Sacramento&display=swap');

@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@200;300;400;500;600&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,400;0,800;1,400;1,800&family=Sacramento&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500;1,700&display=swap');

:root {
  color-scheme: light dark;
  --white: rgba(255, 255, 255, 0.87);
  --text: #444;
  --primary: #410101;
  --secondary: #aaa;
  --faint: #eee;
  --accent: #e0071c;
  --red: #f00;
  --green: #0a0;
  --box-shadow: 15px 7px 22px -3px rgba(189, 187, 189, 1);
  background-color: var(--white);
}

title {
  font-family: 'Lobster', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
  font-family: 'Poppins', 'Times New Roman', Times, serif;
}

#top_app {
  display: grid;
  grid-template-rows: 60px 1fr auto;
  min-height: 100vh;
}

.logo {
  fill: var(--accent);
}

.formkit-inner {
  display: grid;
  gap: 0.3em;
}

.formkit-inner :is(input, select, textarea) {
  padding: 0.75em;
  outline: none;
  border: 1px solid var(--secondary);
  border-radius: 0.5em;
}

.formkit-inner :is(input, select, textarea):focus {
  border: 1px solid var(--primary);
}

.formkit-wrapper button[type='submit'] {
  background-color: var(--primary);
  color: var(--faint);
  padding: 0.75em 1em;
  border-radius: 0.5em;
  outline: none;
  border: none;
  cursor: pointer;
}

#update_form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 1em 2em;
}
